<section class="faq">
    <div class="container">
        <div class="faq__wrapper">
            <div class="faq__top">
                <h2 class="faq__title heading-h2">
                    Frequently asked questions
                </h2>
                <p class="faq__descr">
                    Everything you need to know about the product and billing.
                </p>
            </div>
            <div class="faq__accordion">
                <ul class="faq__list">
                    <li class="faq__list-item">
                        <div class="faq__list-item-title">
                            <h3 class="faq__list-item-text">
                                Is there a free trial available?
                            </h3>
                            <div class="faq__list-item-icon">
                                <svg
                                    class="faq__list-icon-svg"    
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M9.0001 0.600098C9.66284 0.600098 10.2001 1.13736 10.2001 1.8001L10.2001 7.8001L16.2001 7.8001C16.8628 7.8001 17.4001 8.33736 17.4001 9.0001C17.4001 9.66284 16.8628 10.2001 16.2001 10.2001H10.2001V16.2001C10.2001 16.8628 9.66284 17.4001 9.0001 17.4001C8.33736 17.4001 7.8001 16.8628 7.8001 16.2001L7.8001 10.2001L1.8001 10.2001C1.13736 10.2001 0.600098 9.66284 0.600098 9.0001C0.600098 8.33735 1.13736 7.8001 1.8001 7.8001L7.8001 7.8001L7.8001 1.8001C7.8001 1.13736 8.33736 0.600098 9.0001 0.600098Z"
                                        fill="#1D1E25"
                                    />
                                </svg>
                            </div>
                        </div>
                        <p class="faq__list-item-descr">
                            Yes, you can try us for free for 30 days. If you
                            want, we’ll provide you with a free, personalized
                            30-minute onboarding call to get you up and running
                            as soon as possible.
                        </p>
                    </li>
                    <li class="faq__list-item">
                        <div class="faq__list-item-title">
                            <h3 class="faq__list-item-text">
                                How Can I Add More Emails To My Account?
                            </h3>
                            <div class="faq__list-item-icon">
                                <svg
                                    class="faq__list-icon-svg"  
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M9.0001 0.600098C9.66284 0.600098 10.2001 1.13736 10.2001 1.8001L10.2001 7.8001L16.2001 7.8001C16.8628 7.8001 17.4001 8.33736 17.4001 9.0001C17.4001 9.66284 16.8628 10.2001 16.2001 10.2001H10.2001V16.2001C10.2001 16.8628 9.66284 17.4001 9.0001 17.4001C8.33736 17.4001 7.8001 16.8628 7.8001 16.2001L7.8001 10.2001L1.8001 10.2001C1.13736 10.2001 0.600098 9.66284 0.600098 9.0001C0.600098 8.33735 1.13736 7.8001 1.8001 7.8001L7.8001 7.8001L7.8001 1.8001C7.8001 1.13736 8.33736 0.600098 9.0001 0.600098Z"
                                        fill="#1D1E25"
                                    />
                                </svg>
                            </div>
                        </div>
                        <p class="faq__list-item-descr">
                            Yes, you can try us for free for 30 days. If you
                            want, we’ll provide you with a free, personalized
                            30-minute onboarding call to get you up and running
                            as soon as possible.
                        </p>
                    </li>
                    <li class="faq__list-item">
                        <div class="faq__list-item-title">
                            <h3 class="faq__list-item-text">
                                Can I Change Plans Or Cancel My Subscription At Any Time
                            </h3>
                            <div class="faq__list-item-icon">
                                <svg
                                    class="faq__list-icon-svg"  
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M9.0001 0.600098C9.66284 0.600098 10.2001 1.13736 10.2001 1.8001L10.2001 7.8001L16.2001 7.8001C16.8628 7.8001 17.4001 8.33736 17.4001 9.0001C17.4001 9.66284 16.8628 10.2001 16.2001 10.2001H10.2001V16.2001C10.2001 16.8628 9.66284 17.4001 9.0001 17.4001C8.33736 17.4001 7.8001 16.8628 7.8001 16.2001L7.8001 10.2001L1.8001 10.2001C1.13736 10.2001 0.600098 9.66284 0.600098 9.0001C0.600098 8.33735 1.13736 7.8001 1.8001 7.8001L7.8001 7.8001L7.8001 1.8001C7.8001 1.13736 8.33736 0.600098 9.0001 0.600098Z"
                                        fill="#1D1E25"
                                    />
                                </svg>
                            </div>
                        </div>
                        <p class="faq__list-item-descr">
                            Yes, you can try us for free for 30 days. If you
                            want, we’ll provide you with a free, personalized
                            30-minute onboarding call to get you up and running
                            as soon as possible.
                        </p>
                    </li>
                    <li class="faq__list-item">
                        <div class="faq__list-item-title">
                            <h3 class="faq__list-item-text">
                                How Secure Is My Date With Sans CRM
                            </h3>
                            <div class="faq__list-item-icon">
                                <svg
                                    class="faq__list-icon-svg"  
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M9.0001 0.600098C9.66284 0.600098 10.2001 1.13736 10.2001 1.8001L10.2001 7.8001L16.2001 7.8001C16.8628 7.8001 17.4001 8.33736 17.4001 9.0001C17.4001 9.66284 16.8628 10.2001 16.2001 10.2001H10.2001V16.2001C10.2001 16.8628 9.66284 17.4001 9.0001 17.4001C8.33736 17.4001 7.8001 16.8628 7.8001 16.2001L7.8001 10.2001L1.8001 10.2001C1.13736 10.2001 0.600098 9.66284 0.600098 9.0001C0.600098 8.33735 1.13736 7.8001 1.8001 7.8001L7.8001 7.8001L7.8001 1.8001C7.8001 1.13736 8.33736 0.600098 9.0001 0.600098Z"
                                        fill="#1D1E25"
                                    />
                                </svg>
                            </div>
                        </div>
                        <p class="faq__list-item-descr">
                            Yes, you can try us for free for 30 days. If you
                            want, we’ll provide you with a free, personalized
                            30-minute onboarding call to get you up and running
                            as soon as possible.
                        </p>
                    </li>
                    <li class="faq__list-item">
                        <div class="faq__list-item-title">
                            <h3 class="faq__list-item-text">
                                What Is The Uptime Guarantee
                            </h3>
                            <div class="faq__list-item-icon">
                                <svg
                                    class="faq__list-icon-svg"      
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M9.0001 0.600098C9.66284 0.600098 10.2001 1.13736 10.2001 1.8001L10.2001 7.8001L16.2001 7.8001C16.8628 7.8001 17.4001 8.33736 17.4001 9.0001C17.4001 9.66284 16.8628 10.2001 16.2001 10.2001H10.2001V16.2001C10.2001 16.8628 9.66284 17.4001 9.0001 17.4001C8.33736 17.4001 7.8001 16.8628 7.8001 16.2001L7.8001 10.2001L1.8001 10.2001C1.13736 10.2001 0.600098 9.66284 0.600098 9.0001C0.600098 8.33735 1.13736 7.8001 1.8001 7.8001L7.8001 7.8001L7.8001 1.8001C7.8001 1.13736 8.33736 0.600098 9.0001 0.600098Z"
                                        fill="#1D1E25"
                                    />
                                </svg>
                            </div>
                        </div>
                        <p class="faq__list-item-descr">
                            Yes, you can try us for free for 30 days. If you
                            want, we’ll provide you with a free, personalized
                            30-minute onboarding call to get you up and running
                            as soon as possible.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
