<section class="hero">
    <div class="container">
        <h2 class="hero__title heading-h1">
            Contact our team to find out more
        </h2>
        <label class="hero__switcher-wrapper">
            <span class="hero__switcher">
                <input
                    type="checkbox"
                    class="hero__switcher-checkbox"
                    data-price="switcher"
                />
            </span>
            <span class="hero__switcher-text text-p-default">Switch map</span>
        </label>
        <div class="hero__inner">
            <div class="hero__maps">
                <div class="hero__maps-yandex">
                    <script
                        
                        type="text/javascript"
                        charset="utf-8"
                        async
                        src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa6d65d208212a3be436ebaf0db126058edea625913f8d20c4473c111114101dc&amp;lang=ru_RU&amp;scroll=true"
                    ></script>
                </div>
                <div class="hero__maps-img">
                    <img src="../assets/images/contact-map.svg" alt="map" />
                    <div class="hero__maps-location-info">
                        <h4 class="hero__maps-location-title">Yogja, INA</h4>
                        <p class="hero__maps-location-descr">
                            100 Smith Street Collingwood VIC 3066 AU
                        </p>
                    </div>
                    <svg
                        class="hero__maps-location-icon"
                        width="54"
                        height="54"
                        viewBox="0 0 54 54"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <ellipse
                            cx="27"
                            cy="50.5"
                            rx="13"
                            ry="2.5"
                            fill="#2D3C52"
                            fill-opacity="0.2"
                        />
                        <path
                            d="M29.6448 43.1901C31.158 41.0102 33.4641 39.5607 35.8496 38.3985C42.4563 35.18 47 28.4702 47 20.7143C47 9.82639 38.0457 1 27 1C15.9543 1 7 9.82639 7 20.7143C7 28.4702 11.5437 35.18 18.1504 38.3985C20.5359 39.5607 22.842 41.0102 24.3552 43.1901L27 47L29.6448 43.1901Z"
                            fill="#F5F5FF"
                        />
                        <circle cx="27" cy="21" r="12.5" fill="#1463FF" />
                    </svg>
                </div>
            </div>
            <ul class="hero__contact">
                <li class="hero__contact-item">
                    <h3 class="hero__contact-item-title">Support</h3>
                    <p class="hero__contact-item-descr">
                        Our friendly team is here to help.
                    </p>
                    <a
                        href="mailto:support@sans.com"
                        class="hero__contact-item-link"
                        >support@sans.com</a
                    >
                </li>
                <li class="hero__contact-item">
                    <h3 class="hero__contact-item-title">Sales</h3>
                    <p class="hero__contact-item-descr">
                        Questions or queries? Get in touch!.
                    </p>
                    <a
                        href="mailto:sales@sans.com"
                        class="hero__contact-item-link"
                        >sales@sans.com</a
                    >
                </li>
                <li class="hero__contact-item">
                    <h3 class="hero__contact-item-title">Phone</h3>
                    <p class="hero__contact-item-descr">
                        Mon-Fri from 8am to 5pm.
                    </p>
                    <a href="tel:+14353457655" class="hero__contact-item-link"
                        >+1 (435) 345-7655</a
                    >
                </li>
            </ul>
        </div>
    </div>
</section>
