<section class="partners">
    <div class="container partners__container">
        <h2 class="partners__title">
            <span class="partners__title-num heading-h2">890+</span>
            some big companies that we work with, and trust us very much
        </h2>
        <ul class="partners__list">
            <li class="partners__item">
                <img
                    class="partners__item-img"
                    src="./assets/icons/partners/airbnb-logo.svg"
                    alt="airbnb logo icon"
                    width="97"
                    height="30"
                />
            </li>
            <li class="partners__item">
                <img 
                class="partners__item-img"
                    src="./assets/icons/partners/amazon-logo.svg"
                    alt="amazone logo icon"
                    width="97"
                    height="30"
                />
            </li>
            <li class="partners__item">
                <img
                    class="partners__item-img"
                    src="./assets/icons/partners/fedex-logo.svg"
                    alt="fedex logo icon"
                    width="94"
                    height="28"
                />
            </li>
            <li class="partners__item">
                <img
                    class="partners__item-img"  
                    src="./assets/icons/partners/microsoft-logo.svg"
                    alt="microsoft logo icon"
                    width="115"
                    height="24"
                />
            </li>
            <li class="partners__item">
                <img
                    class="partners__item-img"
                    src="./assets/icons/partners/google-logo.svg"
                    alt="google logo icon"
                    width="90"
                    height="30"
                />
            </li>
            <li class="partners__item">
                <img
                    class="partners__item-img"
                    src="./assets/icons/partners/ola-logo.svg"
                    alt="ola logo icon"
                    width="92"
                    height="32"
                />
            </li>
            <li class="partners__item">
                <img
                    class="partners__item-img"
                    src="./assets/icons/partners/walmart-logo.svg"
                    alt="walmart logo icon"
                    width="113"
                    height="26"
                />
            </li>
            <li class="partners__item">
                <img
                    class="partners__item-img"  
                    src="./assets/icons/partners/oyo-logo.svg"
                    alt="oyo logo icon"
                    width="79"
                    height="30"
                />
            </li>
        </ul>
    </div>
</section>
