.button {
    &-form {
        border-radius: 100px;
        padding: 16px 0px;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        transition: 0.3s;

        &:hover {
            opacity: 0.85;
        }
    }
}